body {
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
  margin-top: 20px;
}

li {
  display: inline;
}


.leftbar li a {
  float: left;
  font-family: arial;
  font-size: 13px;
  padding: 8px;
}

.rightbar li a {
  float: right;
  font-family: arial;
  font-size: 13px;
  padding: 8px;
}

.google_apps {
  margin: 0;
  margin-bottom: 10px;
  width: 24px;
  height: 24px;
}

.google_img {
  width: 464px;
  height: 235px;
  display: block;
  margin: 0 auto;
  padding-top: 70px;
}

.search {
  margin: 0 auto;
  text-align: center;
  width: 360px;
  line-height: 32px;
  "padding: 0px 400px;"
}

".search input[type=text] {
  padding: 20px 10px;
  /*position: absolute;
  float: right;
  padding: 6px;
  border: 3px solid #00B4CC;
  border-radius: 5px;
  outline: none;
  margin-top: 8px;
  margin-right: 16px;
  font-size: 17px;*/
}"

.buttons {

}
